{{ define "content"}}
<div id="pjax-content">
<div class="post-archive">
    {{ range (where (where .Site.Pages "Type" "in" (slice "post" "posts")) "Kind" "page").GroupByDate "2006" }}
    <h2>{{ .Key }}</h2>
    <ul class="listing">
        {{ range .Pages }}
        <li>
            <span class="date">{{ .Date.Format "2006/01/02" }}</span>
            <a href="{{ .Permalink }}" title="{{ .Title }}" onclick="pjax_οnclickB(this);">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}

<script>
function pjax_οnclickB(vvc){
	$.ajax({
            type:'GET',
            url:vvc.href,
            success:function(data){
				$('#pjax-content').html('');
				var _content = $(data).find("#pjax-content").html();
            	$('#pjax-content').html(_content);
            }
              	});
	vvc.href = "#";
    window.history.pushState({url:vvc.href},null,vvc.href);
}
</script>

</div>
</div>
{{ end }}