
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/APlayer.min.css">
	<script type="text/javascript" src="{{ .Site.BaseURL }}js/APlayer.min.js" ></script>
	<script type="text/javascript" src="{{ .Site.BaseURL }}js/Meting.min.js" ></script>
	

	<div class="aplayer" 
		data-id="2625893735" 
		data-server="netease" 
		data-type="playlist" 
		data-fixed="true"
		data-autoplay="false" 
		data-order="random" 
		data-volume="0.55" 
		data-theme="#cc543a" 
		date-preload="auto" >
	</div>